%p#notice= notice

%p
  %b Revision:
  = link_to(@execution.revision.name, @execution.revision)

%table.table
  %thead
    %tr
      %th Host
  %tbody
    - @execution.host_executions.each do |host_execution|
      %tr
        %td= link_to(host_execution.host.name, host_execution)

= link_to 'Back', executions_path
