%p#notice= notice
%h1 Listing Revisions
%table.table
  %thead
    %tr
      %th Name
      %th Url
      %th{:colspan => "2"}
  %tbody
    - @revisions.each do |revision|
      %tr
        %td= link_to revision.name, revision
        %td= revision.url

= link_to 'New Revision', new_revision_path
